@contrast: #CB7730;
@color: #2B2B2B;

.btn-ld {
  color: #fff;
  background-color: @contrast;
  border-color: darken(@contrast, 5%);
}
.btn-ld:hover {
  color: #fff;
  background-color: darken(@contrast,5%);
  border-color: darken(@contrast, 5%);
}
.has-feedback > select {
  -webkit-appearance: none;
}
.login-separator {
  margin: 10px 0;
}