.btn-ld {
  color: #dddddd;
  background-color: #cb7730;
  border-color: #8d5321;
}
.btn-ld:hover {
  color: #dddddd;
  background-color: #b66b2b;
  border-color: #8d5321;
}
.has-feedback > select {
  -webkit-appearance: none;
}
.login-separator {
  margin: 10px 0;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 0 20px;
}
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 300;
}
/** AdminLTE Theme */
.skin-black .main-header {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.skin-black .main-header .navbar-toggle {
  color: #cb7730;
}
.skin-black .main-header .navbar-brand {
  color: #cb7730;
  border-right: 1px solid #2b2b2b;
}
.skin-black .main-header > .navbar {
  background-color: #2b2b2b;
}
.skin-black .main-header > .navbar .nav > li > a {
  color: #dddddd;
}
.skin-black .main-header > .navbar .nav > li > a:hover,
.skin-black .main-header > .navbar .nav > li > a:active,
.skin-black .main-header > .navbar .nav > li > a:focus,
.skin-black .main-header > .navbar .nav .open > a,
.skin-black .main-header > .navbar .nav .open > a:hover,
.skin-black .main-header > .navbar .nav .open > a:focus {
  background: #454545;
  color: #dddddd;
}
.skin-black .main-header > .navbar .sidebar-toggle {
  color: #333333;
}
.skin-black .main-header > .navbar .sidebar-toggle:hover {
  color: #dddddd;
  background: #454545;
}
.skin-black .main-header > .navbar > .sidebar-toggle {
  color: #cb7730;
  border-right: 1px solid #454545;
}
.skin-black .main-header > .navbar .navbar-nav > li > a {
  border-right: 1px solid #454545;
}
.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header > .navbar .navbar-right > li > a {
  border-left: 1px solid #454545;
  border-right-width: 0;
}
.skin-black .main-header > .logo {
  background-color: #2b2b2b;
  color: #cb7730;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #454545;
}
.skin-black .main-header > .logo:hover {
  background-color: #454545;
}
@media (max-width: 767px) {
  .skin-black .main-header > .logo {
    background-color: #2b2b2b;
    color: #cb7730;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .skin-black .main-header > .logo:hover {
    background-color: #454545;
  }
}
.skin-black .main-header li.user-header {
  background-color: #2b2b2b;
}
.skin-black .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
  background-color: #2b2b2b;
}
.skin-black .user-panel > .info,
.skin-black .user-panel > .info > a {
  color: #dddddd;
}
.skin-black .sidebar {
  border-top: 1px solid #454545;
}
.skin-black .sidebar-menu > li.header {
  color: #dddddd;
  background: #252525;
}
.skin-black .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-black .sidebar-menu > li:hover > a,
.skin-black .sidebar-menu > li.active > a {
  color: #dddddd;
  background: #2b2b2b;
  border-left-color: #dddddd;
}
.skin-black .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #1e1e1e;
}
.skin-black .sidebar a {
  color: #dddddd;
}
.skin-black .sidebar a:hover {
  text-decoration: none;
}
.skin-black .treeview-menu > li > a {
  color: #d0d0d0;
}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover {
  color: #dddddd;
}
.content-wrapper,
.right-side {
  background: transparent;
}
.content-wrapper,
.right-side {
  padding: 10px 10px 10px 10px;
}
.team-card {
  margin-bottom: 10px;
  margin-top: 10px;
}
.team-card > .logo {
  width: 100px;
  height: 100px;
}
.team-card > .content {
  background: #dddddd;
  margin-top: -50px;
  padding: 50px 10px 10px 10px;
  box-shadow: 0 0 10px #2b2b2b;
  border-radius: 1px;
  min-height: inherit;
}
.team-card > .content > .name {
  margin-bottom: 10px;
  margin-top: 10px;
}
.team-card > .content > .name > a {
  color: #222222;
}
.team-card > .content > .name > a:hover {
  color: #2f2f2f;
  text-decoration: underline;
}
.team-card > .content > .members {
  margin-bottom: 10px;
}
.bg-white {
  background-color: #dddddd;
  color: #222222;
}
#myteam .team-logo {
  height: 100px;
  display: inline-block;
}
#myteam .team-name {
  display: inline-block;
}
.box {
  border-top: none;
}
.form-control-feedback {
  line-height: 34px;
  color: #777;
}
.content-wrapper .box {
  margin-top: 10px;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
.col-centered.text-center {
  text-align: center;
}
small {
  color: #999999;
}
