.btn-ld {
  color: #fff;
  background-color: #cb7730;
  border-color: #b66b2b;
}
.btn-ld:hover {
  color: #fff;
  background-color: #b66b2b;
  border-color: #b66b2b;
}
.has-feedback > select {
  -webkit-appearance: none;
}
.login-separator {
  margin: 10px 0;
}
